priority -55

###############
#  copyright  #
###############

snippet	cr "A box for copyright information" b
/**
* Copyright `!v strftime("%Y")` <${1:organization}>
* Created by ${2:author} on `!v strftime("%m/%d/%Y")`
*/
endsnippet

######################
#  snippet template  #
######################

snippet snip "Snippet description" b
snippet ${1:trigger} "${2:description}" ${3:b}
$0
`!p snip.rv="endsnippet"`
endsnippet
