###################
#  kernel module  #
###################

snippet module "A skeleton for kernel module" b
#include <linux/init.h>
#include <linux/module.h>

static int __init ${1:module_name}_init(void) {
    $0
    pr_info("$1 init.");
    return 0;
}

static void __exit $1_fini(void) {
    pr_info("$1 exit.");
}

module_init($1_init);
module_exit($1_fini);

MODULE_LICENSE("${2:GPL}");
MODULE_AUTHOR("${3:AUTHOR}");
endsnippet
